.footer {
  background-color: #2e2f42;
  padding: 100px 0px;
}
.footer .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-logo {
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  color: #f4f4fd;
  text-transform: uppercase;
}
.footer-logo .accent {
  color: #4d5ae5;
}
.footer-text {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
